<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="client/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../client/user/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../client/user/css/util.css">
	<link rel="stylesheet" type="text/css" href="../client/user/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/user/register" method="post">
					<span class="login100-form-title p-b-26">
						Đăng kí tài khoản
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Tên người dùng"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="fullname">
						<span class="focus-input100" data-placeholder="Họ và tên"></span>
					</div>

					<div class="wrap-input100 validate-input">

						
						<div class="form-group">
							<label for="">Role</label>
						  <select class="form-control" name="role" id="" >
							<option value="0">admin</option>
							<option value="1">user</option>
						  </select>
						</div>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Mật khẩu"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Đăng nhập
							</button>
						</div>
					</div>
				</form>
					<div class="text-center p-t-115">
						<span class="txt1">
							Đã có tài khoản
						</span>

						<a class="txt2" href="/users">
							Đăng nhập
						</a>
						<br>
						<a class="txt2 p-6" href="/">
							Trở về trang chủ
						</a>
					</div>
				
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../client/user/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/vendor/bootstrap/js/popper.js"></script>
	<script src="../client/user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/vendor/daterangepicker/moment.min.js"></script>
	<script src="../client/user/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../client/user/js/main.js"></script>

</body>
</html>